[submodule "tools/ESP32/esp-idf"]
	path = tools/ESP32/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "tools/K210/kendryte-freertos-sdk"]
	path = tools/K210/kendryte-freertos-sdk
	url = https://github.com/kendryte/kendryte-freertos-sdk.git
[submodule "tools/K210/kflash"]
	path = tools/K210/kflash
	url = https://github.com/kendryte/kflash.py.git
[submodule "project/code/ESP32/components/littlevgl/lvgl"]
	path = project/code/ESP32/components/littlevgl/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "project/code/K210/components/littlevgl/lvgl"]
	path = project/code/K210/components/littlevgl/lvgl
	url = https://github.com/littlevgl/lvgl
